@{
    ViewBag.Title = "Home Page";
}

    <div>
       <p>Welcom </p> @ViewBag.name
    </div>
<div>
    @Html.ActionLink("Add Staff", "AddStaff", "Manager")
</div>

<div style="float:left;width:45%">
    <h2>Staff List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Salary</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Salary</td>
                <td><a href="@Url.Action("EditStaff","Manager", new { id = item.Id})">Edit</a></td>
                <td><a href="@Url.Action("DeleteStaff","Manager",new { id = item.Id })">Delete</a></td>
            </tr>
        }
    </table>

    <br /><br /><br /><br />
    <div>
        <h3>Message Box</h3>
        @foreach (var item in ViewBag.notification)
        {
            <div style="background-color:lightgray;padding:10px">
                <a href="@Url.Action("ReadMessage","Manager", new { id = item.Id})"><p>@item.Title</p></a>
                <p>Is Checked: @item.IsChecked</p>
            </div>
            <br /><br />
        }
    </div>
</div>

<div style="width:45%;float:right">
    <h3> @Html.ActionLink("Add Project", "AddProject", "Manager") </h3>

    <br />
    <br />
    <br />
    <h3>Projects List</h3>
    <div>
        @foreach (var item in ViewBag.Projects)
        {
            <div style="border:1px solid;background-color:lightblue;margin:15px;padding:5px">
                <h2 style="color:orange">Title: @item.ProjectTitle</h2>
                <p>Create Time: @item.CreateTime</p>
                <p>Deadline: @item.Deadline</p>
                <p>Budget: @item.Budget</p>
                <p>IsFinished: @item.IsFinished</p>
                <p>Priority: @item.Priority  </p>
                <p>Content: @item.ProjectContent</p>

                <div>
                    @if (item.Tasks != null)
                    {
                        foreach (var task in item.Tasks)
                        {
                            <div style="padding:5px;margin:10px;background-color:white">
                                <h5 style="color:deepskyblue">Task Title: @task.Title</h5>
                                <p>Task StaffId: @task.StaffId</p>
                                <p>Create Time: @task.CreateTime</p>
                                <p>Deadline: @task.Deadline</p>
                                <p>Finished Time: @task.FinishTime</p>
                                <p>IsFinished: @task.IsFinished</p>
                                <p>Status: @task.Status</p>
                                <p>Task Priority: @task.Priority <span><a href="@Url.Action("ChangePriority","Manager", new { id = task.Id})">Change Priority</a></span></p>
                                <br />
                                
                                <p>Content: @task.Content</p><br />
                                <h3>Delete Task: <input onclick="location.href='@Url.Action("DeleteTask", "Manager", new { TaskId=task.Id })'" style="border-radius:2em;width:1.7em;height:1.7em;" type="submit" value="-" /></h3>
                            </div>
                            }
                    }

                </div>
                <h3>Add Task:<input onclick="location.href='@Url.Action("AddTask", "Manager", new { projectId = item.Id })'" style=" border-radius:2em;width:1.7em;height:1.7em;" type="button" value="+" /></h3>
                <h3>Delete Project:<input onclick="location.href='@Url.Action("DeleteProject", "Manager", new { projectId=item.Id})'" style=" border-radius:2em;width:1.7em;height:1.7em;" type="button" value="-" /></h3>
                </div>

                }
            </div>

            <br /><br />

    
        </div>